.catalog-custom-contentr{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: #fff;
    margin: 0;
    padding: 0;
   
}

.movies-catalog-search{
    height: 80px;
    width: 100%;
    padding: 10px 20px
}

.links-area {
    
     display: flex;
     justify-content: center;
}