.product-details-container {
    color: #fff;
    padding: 10px;
    font-size: 24px;
}

.product-details-container h3 {
    font-size: 20px;
}

.product-details-card {
    padding: 10px;
    margin: 20px auto;
}

.product-details-card input, button {
    width: 100%;
}

.img-container {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    padding: 10px;
}

.rv-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.rv-title h3 {
    margin-left: 12px;
}

.rv-content {
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px;
    color: #9E9E9E;
    font-size: 16px;
}

.custom-form input {
    border-radius: 0;
    height: 40px;
}

.invalid-feedback{
    margin: 0;
    padding: 0;
    font-size: 12px !important;
} 

@media (min-width: 576px) {
    .product-details-container {
        padding: 20px;
        font-size: 32px;
    }
    .product-details-card {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .product-details-container {
        padding: 40px;
    }
    .product-details-card {
        padding: 40px;
    }
    .img-container img {
        width: 50%;
    }
    .description-container {
        padding: 40px;
    }
    .name-price-container {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .name-price-container {
        display: block;
    }
    .img-container img {
        height: 280px;
        width: auto;
    }
    .description-container {
        min-height: 302px;
    }
}

@media (min-width: 1400px) {
    .img-container img {
        height: 480px;
        width: auto;
    }
    .description-container {
        min-height: 502px;
    }
}