.login-card {
  padding: 20px;
  font-size: 16px;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 50px;
}

.login-submit {
  margin: 54px 10px 100px 10px;
}

@media (min-width: 576px) {
  .login-card {
    padding: 20px;
  }
  .login-submit {
    margin: 54px 10px 150px 10px;
  }
}